<!DOCTYPE html>
<html>
  <head>
    <title>Gonotify Example</title>
    <style>
      #header{position:fixed}
      #info,#results{border:1px solid #000}
      #info{max-height:200px;overflow:scroll}
      #results{max-height:300px;overflow:scroll}
    </style>
  </head>
  <body>
    <header>
      <h1>Gonotify</h1>
      <div id="info"></div>
    </header>
    <h2>Messages</h2>
    <ul id="results"></ul>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
      $(function() {
        if ("WebSocket" in window) {
          var connection = new WebSocket("wss://localhost:{{.Port}}/websocket/mailbox/{{.Mailbox | urlquery }}");
          connection.onclose = function(e) {
            console.log(e);
            var date = new Date().toUTCString()
            $("#info").append("<p style='color:red'><strong>"+date+"</strong>: Connection closed</p>");
          };
          connection.onopen = function() {
            var date = new Date().toUTCString()
            $("#info").append("<p style='color:green'><strong>"+date+"</strong>: Connection established</p>");
          };
          connection.onmessage = function(messageEvt) {
            console.log(messageEvt);
            var date = new Date().toUTCString()
            $("#info").append("<p><strong>"+date+"</strong>: Message received</p>");
            $("#results").append("<li>" + messageEvt.data + "</li>");
          };
        } else {
          alert('Your browser does not support WebSockets');
        }
      });
    </script>
  </body>
</html>
